@media screen and (max-width: 970px) {
    header{
        /* flex-direction: column; */
        height: auto;
    }
    nav{
        flex-direction: column;
        gap: 20px;
    }
    #headerLinks{
        order: 1;
    }
    #headerLinks ul {
    gap:10px ;
}
section  #herofirst{
    flex-direction: column-reverse;
}
#heroSectionOneimg{
    margin-bottom: 20px;
}
section .hearoSection #leftSide{
    width: auto;
}
#courseCardBox{
    flex-direction: column;
}
.card{
    padding: 0px auto;
}
#cardText p{
    /* width: auto; */
}

#cardBtn{
    width: 100%;
}
#cardBtn button{
    width: 100%;
}
#sectionThree  #herofirst{
    flex-direction: column-reverse;
}
footer{
    padding-bottom: 10px ;
}
#footer-content{
    height: auto;
    /* gap: 10px; */
}
}
@media screen and (max-width: 700px) {
    #navBtn {
    width: 100%;
}
#navBtn button{
    width: 100%;
    padding: 10px;
}
#headerLinks{
    width: 100%;
}
#headerLinks ul{
    text-align: center;
    width: 100%;
}
#headerLinks ul li{
    width: 100%;
}
}

