*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
/* temprary padding */
body{
background-color: #FAF8FF;
}
img{
    width: 100%;
}

.cantainer{
    width: 90%;
    margin: 0 auto;
}
:root{
    --primryColor:#004AC6;
    --primryColorLight:#2667d7;
    --primryText:#434655;
    --primryTextLight:#555f6f;
    --radius:2px;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: var(--primryColorLight) !important;
    color: white !important;
}
header{
    display: flex;
    background-color: white;
    align-items: center;
    height: 64px;
    border-bottom: 2px solid var(--primryText);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav #logo img{
    height: 28px;
    width: 200px;
}
#headerLinks ul{
    display: flex;
    gap: 20px;
}
#headerLinks ul li{
    list-style: none;
    color: var(--primryTextLight);
    font-weight: bold;
}
#headerLinks ul li:hover{
cursor: pointer;
color: var(--primryColor);
border-bottom: 3px solid;
}
#navBtn button{
    background-color: var(--primryColor);
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: var(--radius);
    font-size: 16px;
font-weight:500;
    cursor: pointer;
}
/* hearoSectionOne */
section .hearoSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 70px 0px;
    }
section .hearoSection #leftSide{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* font-size: 16px; */
    gap: 30px;
    width: 512px;
}
#sectionOne{
        border-bottom: 1px solid rgb(225, 224, 224);

}
.hearoSection #leftSide p{
    color: var(--primryText);
    font-size: 18px;
    word-spacing: 0.1rem;
    line-height: 1.5rem;

}
#leftSideBtn button{
padding: 15px 40px;
background-color: var(--primryColor);
color: white;
font-weight:500;
border: none;
font-size: 16px;
border-radius: var(--radius);
}
section .hearoSection #rightSize{
    flex-grow: 1;
}
section #courseCardSection{
      
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aquamarine; */
        border-bottom: 1px solid rgb(225, 224, 224);

    /* gap: 5px; */
}
#sectionTwo{
    box-sizing: border-box;
    border-bottom: 1px solid rgb(225, 224, 224);
    padding: 40px;

}
section #courseCardSection #courseCardHeading{
    margin: 40px 0px;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
}
#courseCardBox{
    box-sizing: border-box;
    display: flex;
    gap: 24px;
}
.card{
    /* width: 200px; */
    box-sizing: border-box;
    /* height: 275px; */
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0px 30px;
    border-radius:var(--radius) ;
    border: 2px solid rgb(225, 224, 224);
}
#cardImg img{
    /* width: 64px; */
    height: auto;
    margin-top: 20px;
}
#cardText{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
#cardText h3{
font-weight: bold;

}
#cardText p{
    width: 100%;
    color: var(--primryText);
}
#cardBtn{
    width: 100%;
    box-sizing: content-box;
}
#cardBtn button{
    width: 100%;
    background-color: transparent;
    border: none;
    border: 1px solid var(--primryColor);
    border-radius:var(--radius);
    padding: 10px ;
    color: var(--primryColor);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
        margin-bottom: 20px;

}
#sectionThree  #herofirst{
    flex-direction: row-reverse;
}
footer{
border-top: 2px solid var(--primryTextLight);}
#footer-content{
    /* font-weight: bold; */
    box-sizing: border-box;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
}
#footerLinks ul{
    display: flex;
    gap: 20px;
    
}
#footerText{
    color: var(--primryTextLight);
    text-align: center;
}
#footerLinks ul li {
    list-style: none;
    font-weight: bold;

}
#footerLinks ul li a{
color: var(--primryText);
text-decoration: none;
}
#footerLogo h5{
font-weight: bold;
font-size: 18px;
color: var(--primryText);
}